.header{
    background-color: $blue;
    width: 100%;
    border-bottom: solid 4px $yellow;
    margin-bottom: 2em;
    height: 100px;
    .header__logo{
        padding: .5em;
        img{
            vertical-align: middle;
        }
    }
}